:root {
	--color-light: #fece9e;
	--color-dark: #d18b46;
	--max-width: 1200px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	overflow-y: hidden;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
	flex-flow: column;
	justify-items: flex-start;
	align-items: center;
	background-image: url('../img/bg.jpg');
	background-size: cover;
}
.flex {
	display: flex;
	justify-content: center;
}
.flex-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--color-dark);
	width: 200px;
	background-color: var(--color-light);
	padding: 5px;
}
.header {
	font-family: 'Times New Roman', Times, serif;
	font-weight: 600;
	letter-spacing: 10px;
	color: var(--color-light);
	font-size: 5rem;
	margin: 0;
	padding-top: 10px;
	justify-self: center;
	width: 100vw;
	text-align: center;
}

.game {
	max-width: var(--max-width);
	/* height: 90vh; */
	width: 100%;
	justify-content: space-around;
	align-items: center;
	padding: 0;
}

.outside-buttons {
	width: 200px;
	padding: 20px;
	border: 2px solid var(--color-dark);
	background-color: var(--color-light);
	color: var(--color-dark);
	font-size: 1.3rem;
	font-weight: 800;
	cursor: pointer;
	outline: none;
}

.chessBoard {
	width: 75vh;
	text-align: center;
	flex-wrap: wrap;
	z-index: 0;
}

.piecesContainer {
	width: 12.5%;
	padding-bottom: 12.5%;
	position: relative;
	display: flex;
	align-content: center;
	justify-content: center;
}
.piecesContainer img {
	height: 100%;
	width: 100%;
	position: absolute;
}
.piecesContainer.dark {
	background-color: var(--color-dark);
}

.piecesContainer.light {
	background-color: var(--color-light);
}

.availableMove {
	background-image: url(../img/fiber_manual_record-24px.svg) !important;
	background-size: cover;
}
.checked {
	background-color: red !important;
}
.promote-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 500px;
	height: 100px;
	display: flex;
	justify-content: center;
}
.promotePawn {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
.selection {
	height: 100%;
}
#checked,
#turn {
	font-size: 2rem;
	text-align: center;
	font-weight: 800;
	color: var(--color-dark);
	padding: 20px 5px;
	width: 200px;
	height: auto;
}
#chessBoard {
	padding: 20px 20px;
}
#blackCaptures,
#whiteCaptures {
	height: 5vh;
	/* width: 100%; */
}
#blackCaptures img,
#whiteCaptures img {
	height: 100%;
}

#chessBoard,
.flex-col {
	display: none;
}

@media only screen and (max-width: 1100px) {
	:root {
		font-size: 14px;
		--max-width: 960px;
	}
	.game {
		flex-flow: column;
	}
	.chessBoard {
		width: 50vw;
		text-align: center;
		flex-wrap: wrap;
	}
	.flex-col {
		height: auto;
		flex-flow: row;
		margin: 10px;
		width: auto;
	}
	#checked,
	#turn {
		padding: 0;
		height: auto;
	}

	.outside-buttons {
		padding: 15px;
		font-size: 1.3rem;
		font-weight: 800;
		cursor: pointer;
		outline: none;
	}
}
@media only screen and (max-width: 992px) {
	.chessBoard {
		width: 60vw;
	}
}
@media only screen and (max-width: 768px) {
	:root {
		font-size: 12px;
	}
	.game {
		flex-flow: column;
	}
	.chessBoard {
		width: 80vw;
		text-align: center;
		flex-wrap: wrap;
	}
	.flex-col {
		width: 200px;
	}
	#checked,
	#turn {
		font-size: 1.6rem;
	}
}
@media only screen and (max-width: 480px) {
	:root {
		font-size: 9px;
	}
}
